.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
.vscode/

data/
mlruns/
results/
.env
outputs/
checkpoints/
mlflow.db
